#indent {
   text-indent: 30px;
}

#navlistsettings {
    display: inline;
     padding:  0px;
     margin: 3px 10px;
     
}
#navulsettings {
    padding: 20px;
    }
#center {
    text-align: center;
}
#navanchor {
    display: inline-block;
    width: 110px;
}

.adisplay {
    display: inline-block;
    height: 40px;
}

.headercolor {
    color: #7cc2e2;
}

#middle {
    align-item: center;
}
     

.projdatesize {
    font-size: 14px;
}
.imgframe {
    border-style: outset;
    border-color:#359964;
    border-width: 8px;
}


.thinimgframe {
    border-style: outset;
    border-color:#ddcb7e;
    border-width: 4px;
    padding: 0px;
}


.imgmarginhome {
    margin-top: 18px;
}

.imghomesize {
    width: 300px;
    height: 400px;
}

.anchorclass {
    background-color: #414d60;
    margin-left: 5px;
    text-align: left;
    margin: 0px;
    padding-left: 20%;
    width: 100%;

    
}

body {
    background-color:#d2fff5 ;
}

    

.navhead {
    background-color: #f1eff2;
}

nav-pill: hover {
    color:black !important;
}

