#indent {
   text-indent: 30px;
}

#navlistsettings {
    display: inline;
     padding: 15px 50px;
     margin: 3px 20px;
     
}
    #navulsettings {
        padding: 20px;
    }
#center {
    text-align: center;
}
#navanchor {
    display: inline-block;
    width: 110px;
}

.adisplay {
    display: inline-block;
    height: 40px;
}


#middle {
    align-item: center;
}

.greenheadercolor {
    color: #359964;
    font-weight: bold;
     
}

.projdatesize {
    font-size: 14px;
}
.imgframe {
    border-style: outset;
    border-color:#359964;
    border-width: 8px;
}

hr {
    border-color:#82714b;
    border-width: 3px;
    margin: 0px;
}

.thinimgframe {
    border-style: outset;
    border-color:#ddcb7e;
    border-width: 4px;
    padding: 0px;
}

.navcolor {
    background-color:#5b5139;
}

.imgmarginhome {
    margin-top: 18px;
}

.imghomesize {
    width: 300px;
    height: 400px;
}

a {
    color:#c1ad7f ;
}

body {
    background-color:#eadda8 ;
}