#indent {
   text-indent: 30px;
}

#navlistsettings {
    display: inline;
     padding:  0px;
     margin: 0px 30px 10px;
}
.right {
    text-align: left;
}
.fullopacity {
    opacity: 1;
}
.navsize {
    width: 100%;
}
#navulsettings {
    padding: 20px;
    }
#center {
    text-align: center;
}

.nomargin {
    margin: 0 auto;
    text-align:center;
}
#navanchor {
    display: inline-block;
    width: 110px;
}

.adisplay {
    display: inline-block;
    height: 40px;
}

.headercolor {
    color: #7cc2e2;
}

#middle {
    text-align: center;
}
     

.projdatesize {
    font-size: 14px;
}
.imgframe {
    border-style: outset;
    border-color:#359964;
    border-width: 8px;
}


.thinimgframe {
    border-style: outset;
    border-color:#14335b;
    border-width: 4px;
    padding: 0px;
}


.imgmarginhome {
    margin-top: 18px;
}

.imghomesize {
    width: 300px;
    height: 400px;
}

.anchorclass {
    background-color: #414d60;
    margin-left: 5px;
    text-align: left;
    margin: 0px;
    padding-left: 15%;
    width: 100%;
}
.mainsettings {
    background-image: url(Images/backgroundpic.jpg);
    width: 100%;
    height: 100%;
}
.mainsettings2 {
     background-image: url(Images/citypic.jpg);
     width: 100%;
     height: 100%;
}

.mainsettings3 {
    background-image: url(Images/notebookpic.jpg);
     width: 100%;
     height: 100%;
}

.mainsettings4 {
     background-image: url(Images/blackdesignpic.gif);
     width: 100%;
     height: 100%;
}

.mainsettings5 {
    background-image: url(Images/largecity.jpeg);
    width: 100%;
    height: 1080px;
}

.navhead {
    background-color: #f1eff2;
}

nav-pill: hover {
    color:black !important;
}

.jumbosettings {
   margin-top: 100px;
 
}

.whitetext {
    color: white;
}
.email:hover {
    color: black;
}